
<footer class="footer">
    <div class="container">
        <div class="d-flex flex-lg-row flex-column justify-content-between align-items-center">

            <!-- Logo -->
            <a class="nav-brand" href="index.html">
                <img src="../assets/images/logo-footer.svg" alt="logo-footer">
            </a>

            <!-- 中央列表 -->
            <ul class="navbar-nav d-flex flex-lg-row flex-column my-lg-0 my-5">
                <li class="nav-item">
                    <a href="reserve.html">
                        <button class="button-text-light me-lg-4 mb-lg-0 mb-4" type="button" aria-current="page">
                            預約檔期    
                        </button>
                    </a>
                </li>
                <li class="nav-item">
                    <button class="button-text-light me-lg-4 mb-lg-0 mb-4">優惠活動</button>
                </li>
                <li class="nav-item">
                    <a href="product_intro.html">
                        <button class="button-text-light me-lg-4 mb-lg-0 mb-4" type="button" aria-current="page">
                            指彩介紹
                        </button>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="service.html">
                        <button class="button-text-light me-lg-4 mb-lg-0 mb-4" type="button" aria-current="page">
                            服務項目
                        </button>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="about.html">
                        <button class="button-text-light me-lg-4 mb-lg-0 mb-4" type="button" aria-current="page">
                            關於我們
                        </button>
                    </a>
                </li>
            </ul>

            <!-- 社交媒體連結 -->
            <nav class="navbar">
                <ul class="navbar-nav flex-row justify-content-between">
                    <li class="nav-item">
                        <a href="#">
                            <img src="../assets/images/icons/Icons=mdi_facebook.svg" alt="facebook">
                        </a>
                    </li>
                    <li class="nav-item mx-lg-4 mx-5">
                        <a href="#">
                            <img src="../assets/images/icons/Icons=mdi_instagram.svg" alt="instragam">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#">
                            <img src="../assets/images/icons/Icons=icons8-line (1) 1.svg" alt="line">
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- 地址 -->
        <div class="d-flex flex-column text-center mt-60">
            <span class="text-secondary-100 mb-3">
                地址：臺北市信義區奇幻旅程路110之1號
            </span>
            <span class="text-secondary-100">
                COPYRIGHT © KFJ NAIL 2023
            </span>
        </div>
    </div>
</footer>