

<nav class="navbar navbar-light navbar-expand-lg">
    <div class="container-fluid">
        
        <!-- Logo-header -->
        <div class="row">
            <div class="col-3">
                <a class="nav-brand d-lg-block d-none" href="#"><img class="header-logo" src="../assets/images/Logo.svg" alt="logo"></a>
                <a href="#" class="nav-brand d-lg-none d-block"><img src="../assets/images/Logo-mobile.svg" alt="Logo-mobile">
                </a>
            </div>
        </div>

        <!-- header-menu -->
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span>
                <img class="custom-hamburger" src="../assets/images/icons/Icon.svg" alt="折疊選單">
            </span>
        </button>
        <div class="collapse navbar-collapse py-lg-0 py-40 justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav d-flex mx-auto">
                <li class="list-unstyled nav-item">
                    <button class="button-text-dark nav-link me-lg-40 mb-lg-0 mb-4" href="" type="button" aria-current="page">
                        預約檔期    
                    </button>
                </li>
                <li class="list-unstyled nav-item">
                    <button class="button-text-dark nav-link me-lg-40 mb-lg-0 mb-4" href="" type="button" aria-current="page">
                        優惠活動
                    </button>
                </li>
                <li class="list-unstyled nav-item">
                    <button class="button-text-dark nav-link me-lg-40 mb-lg-0 mb-4" href="" type="button" aria-current="page">
                        指彩介紹
                    </button>
                </li>
                <li class="list-unstyled nav-item">
                    <button class="button-text-dark nav-link me-lg-40 mb-lg-0 mb-4" href="" type="button" aria-current="page">
                        服務項目
                    </button>
                </li>
                <li class="list-unstyled nav-item">
                    <button class="button-text-dark nav-link mb-lg-0 mb-4" href="" type="button" aria-current="page">
                        關於我們
                    </button>
                </li>
            </ul>

            <!-- 預約登入按鈕 -->
            <div class="d-flex flex-lg-row flex-column">
                <button class="button-outline nav-item me-lg-3 mb-lg-0 mb-12">立即預約</button>
                <button class="button-outline nav-item">會員登入</button>
            </div>
        </div>
    </div>
</nav>