<div class="nav container">
    <h1><a href="../pages/index.html"><img src="../assets/images/Logo.svg" alt="logo"></a></h1>
    <ul class="d-flex">
        <li class="list-unstyled"><a class="secondary-1000" href="">預約檔期</a></li>
        <li class="list-unstyled"><a class="secondary-1000" href="">優惠活動</a></li>
        <li class="list-unstyled"><a class="secondary-1000" href="">指彩介紹</a></li>
        <li class="list-unstyled"><a class="secondary-1000" href="">服務項目</a></li>
        <li class="list-unstyled"><a class="secondary-1000" href="">關於我們</a></li>
    </ul>
    <div class="d-flex"></div>
</div>