@import "../../node_modules/bootstrap/scss/functions";
@import './utils/variables';
@import './utils/custom-color';
@import './utils/mixins';
@import './utils/base';

@import "../../node_modules/bootstrap";

@import './components/button';
@import './components/hamburger';
@import './components/side-nav';
@import './components/title-font';
@import './components/custom-card';
@import './components/form';


@import './layout/header.scss';
@import './layout/footer.scss';


@import './pages/index.scss';
@import './pages/reservation';
@import './pages/about';
