

.card{
    max-width: 515px;

    @include pad{
        max-width: 311px;
    }
    img{
        width: 100%;
        height: 252px;

        @include pad{
            height: 164px;
        }
    }
}
