

.card{
    max-width: 515px;

    @include pad{
        max-width: 311px;
    }
    img{
        width: 100%;
        height: 252px;

        @include pad{
            height: 164px;
        }
    }
}

// * C add

.service-card{
    width: 100%;
    height: 560px;

    .serviceCard-body{
        .service-product-link{
            color: pink;
            font-size: 40px;
        }
        .service-product-link::after{
            
            // content: "\e157";
            // font-family: "Material Icons";
            content:"";
            width: 20px;
            height: 2px;
            border: 1px solid red;
    
        }
    }
    
}
