<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif+TC:wght@200;300;400;500;700;900&display=swap" rel="stylesheet">
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <!-- banner -->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="banner">
            <div class="banner-word">
              <h1 class="banner-title title">指尖上的星空</h1>
              <p class="text-primary-1000 fs-3 fw-bolder mt-4 mb-40 title">讓璀璨夜空盡收你的指間，立即預約屬於你的指彩。</p>
              <button class="button" type="button">立即預約</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 尋找星空 -->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="fs-48 fw-bolder text-primary-700 text-center title">尋找屬於你的星空</h2>
          <div class="d-flex">
            <!-- <img src="../assets/images/image 23.png" alt="簡約款指彩"><img src="../assets/images/image 24.png" alt="時尚款指彩"><img src="../assets/images/image 25.png" alt="精緻款指彩"> -->
            <p class="nail-items">
              簡約款
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 按鈕 -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      打開 modal
    </button>

    <!-- Modal 元件 -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal 標題</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">內容</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            <button type="button" class="btn btn-primary">確定</button>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
