<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>會員登入</title>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="primary-bg">
      <div class="container px-4">
        <div class="row">
          <div class="col-12 d-flex align-items-center">
            <div class="login-formBlock mt-80 mb-80 mt-lg-100 mb-lg-100 d-flex m-auto">
              <img src="/assets/images/service/f_03.jpg" alt="凝膠指甲照片" class="col-6 rounded-start d-none d-md-block">
              <div class="loginBlock bg-white col-12 col-md-6 mx-auto d-flex flex-column rounded-end">
                <h2 class="font-serif text-primary-900 h1 fw-bold text-center my-40">會員登入</h2>
                <form class="row g-3 needs-validation d-flex flex-column align-items-center" novalidate>
                  <div class="col-10 col-lg-8 mb-4 text-start position-relative">
                    <label for="validationCustomUsername" class="form-label text-primary-800">帳號</label>
                    <input type="email" class="form-control placeholder-sm" id="validationCustomUsername" placeholder="name@example.com" required>
                    <div class="invalid-feedback position-absolute">
                      請輸入正確電子信箱
                    </div>
                  </div>
                  <div class="col-10 col-lg-8 mb-4 text-start position-relative">
                    <label for="inputPassword" class="form-label text-primary-800 d-flex justify-content-between"><p class="m-0">密碼</p>
                      <a href="#" class="text-secondary-500"><small>忘記密碼</small></a>
                    </label>
                    <input type="password" class="form-control" id="inputPassword" required>
                    <div class="invalid-feedback position-absolute">
                      請輸入英數字，不區分大小寫
                    </div>
                  </div>
                  <div class="col-6">
                    <button class="btn input-btn" type="submit">登入</button>
                  </div>
                  <p class="text-secondary-600"><small>還不是會員? <a href="register.html" class="text-secondary-900">點我註冊！</a></small></p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        // Global settings:
        disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
        startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
        initClassName: 'aos-init', // class applied after initialization
        animatedClassName: 'aos-animate', // class applied on animation
        useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
        disableMutationObserver: false, // disables automatic mutations' detections (advanced)
        debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
        throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)


        // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
        offset: 120, // offset (in px) from the original trigger point
        delay: 0, // values from 0 to 3000, with step 50ms
        duration: 400, // values from 0 to 3000, with step 50ms
        easing: 'ease', // default easing for AOS animations
        once: false, // whether animation should happen only once - while scrolling down
        mirror: false, // whether elements should animate out while scrolling past them
        anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation

      });
    </script>
    <!-- input 驗證提示 -->
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
          .forEach(function (form) {
            form.addEventListener('submit', function (event) {
              if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
              }

              form.classList.add('was-validated')
            }, false)
          })
      })()
    </script>
  </body>
</html>
